<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
        #k{
            background-color: orange;
            padding:10px;

        }
        #a{
            padding-top:80px;
        }

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f163060e5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container-fluid text-light" id="k" >
      <span><a href="" style="color:white"><i class="fa-sharp fa-solid fa-arrow-left fa-2x"></i></a><a href="http://127.0.0.1:8000/trendsapp/userprofile/" style="color:white;float:right"><i class="fa-solid fa-xmark fa-2x"></i></a><h2 align="center"><strong>Order Summary</strong></h2>
</span>
  </div>
  <div class="container-fluid" id="a">
    <center><i class="fa-solid fa-check fa-7x text-warning"></i></center>
    <h3 align="center">Thank You</h3>
    <h3 align="center">Order Successfully Placed</h3><br><br>
    <h5 align="center">Estimated Delivery Date</h5>
      <h5 align="center">{{d}}</h5>
  </div>
</body>
</html>