<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
          .navbar{
             background-color:rgb(110, 105, 105);
            }
        #h{
            color: black;
        }
        #b{
        height:1000px;
      width:500px;
      padding:50px;
       margin:100px 550px;
        border: 2px;
        border-radius: 20px;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f163060e5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
              <nav class="navbar navbar-expand-lg fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" id="h"><i class="fa-solid fa-leaf"></i>&nbsp;𝐓𝐫𝐞𝐧𝐝𝐬</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                <a class="nav-link text-light" href="http://127.0.0.1:8000/trendsapp/home/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="http://127.0.0.1:8000/trendsapp/women/">Womens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="http://127.0.0.1:8000/trendsapp/men/">Mens</a>
              </li>
            </ul>
            <form class="d-flex">
              <div class="dropdown">
                <a class="btn dropdown-toggle text-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-user fa-1x"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/trendsapp/userlogin/">User login</a></li>
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/trendsapp/shoplogin/">Shop login</a></li>
                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/admin/">Admin login</a></li>
                </ul>
              </div>
              <a  class="nav-link text-light" href="http://127.0.0.1:8000/trendsapp/cartdisplay/"><i class="fa-solid fa-cart-shopping fa-1x"></i></a>
              <a  class="nav-link text-light" href="http://127.0.0.1:8000/trendsapp/wishlistdisplay/"><i class="fa-solid fa-heart fa-1x"></i></a>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn text-light"><i class=" fa-sharp fa-solid fa-magnifying-glass fa-1x"></i></button>

            </form>
          </div>
        </div>
</nav>
    <div  id="b" class="bg-white shadow">
    <div class="mb-3">
        <h3 align="center"><strong>
           Product Edit
        </strong> </h3><br>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <label class="form-label text-secondary">Product name</label><br>
        <input type="text" class="form-control" name="productname" value="{{a.productname}}">
      </div>
      <div class="mb-3">
        <label class="form-label text-secondary">Product price</label>
        <input type="number" class="form-control" name="productprice" value="{{a.productprice}}">
      </div>
          <div class="mb-3">
        <label class="form-label text-secondary">Type</label>
  <select class="form-control" name="producttype">
          {% if a.producttype == 'Women'%}
                 <option selected>Women</option>
        {% else %}
            <option>Women</option>
        {% endif %}
                  {% if a.producttype == 'Men'%}
                 <option selected>Men</option>
        {% else %}
            <option>Men</option>
        {% endif %}
               </select>
      </div>
         <div class="mb-3">
        <label class="form-label text-secondary">Category</label><br>
             <select class="form-control" name="category">
   <option>--Select category--</option>
                    {% if a.category == 'Women clothing'%}
                 <option selected>Women clothing</option>
        {% else %}
            <option>Women clothing</option>
        {% endif %}
                   {% if a.category == 'Women watch'%}
                 <option selected>Women watch</option>
        {% else %}
            <option>Women watch</option>
        {% endif %}
                      {% if a.category == 'Women shoe'%}
                 <option selected>Women shoe</option>
        {% else %}
            <option>Women shoe</option>
        {% endif %}
                     {% if a.category == 'Women bag'%}
                 <option selected>Women bag</option>
        {% else %}
            <option>Women bag</option>
        {% endif %}
                    {% if a.category == 'Men clothing'%}
                 <option selected>Men clothing</option>
        {% else %}
            <option>Men clothing</option>
        {% endif %}

                     {% if a.category == 'Men watch'%}
                 <option selected>Men watch</option>
        {% else %}
            <option>Men watch</option>
        {% endif %}
                 {% if a.category == 'Men shoe'%}
                 <option selected>Men shoe</option>
        {% else %}
            <option>Men shoe</option>
        {% endif %}
                 {% if a.category == 'Men bag'%}
                 <option selected>Men bag</option>
        {% else %}
            <option>Men bag</option>
        {% endif %}
</select>
      </div>
 <div class="mb-3">
        <label class="form-label text-secondary">Description</label>
        <input type="text" class="form-control" name="description" value="{{a.description}}">
      </div>
      <div class="mb-3">
        <label class="form-label text-secondary">Product image</label>
          <img src="{% static im %}" height="200px" width="200px">
        <input type="file" class="form-control" name="productimage">
      </div>
       <br><center>
      <div class="mb-3">
        <button type="submit" class="btn" style="background-color:rgb(110, 105, 105);color:white">Upgrade</button>
      </div>
    </center>
       </form>
    </div>
</div>
</body>
</html>