<!DOCTYPE html>
<html lang="en">
<head>
    <style>
     #k{
            float:left;
        }
        #l{
          background-color:black;
        color:white;
        padding:25px;

      }
        #b{
        height:800px;
      width:500px;
      padding:50px;
       margin:100px 550px;
        border: 2px;
        border-radius: 20px;
        }
                   .i{
        text-decoration: none;
        color:white;
      }
      .i:hover{color:white;}
      hr{color:white;}

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f163060e5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div>
    <div id="l">
      <i id="k" class="fa-solid fa-bars"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft"></i>
  </div>
<div class="offcanvas offcanvas-end text-white" style="background-color: rgb(48, 47, 47);" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasLeftLabel">{{email}}</h5>
          <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
         <ul type="none">
             <li><a href="http://127.0.0.1:8000/trendsapp/shopprofile/" class="i">Profile</a></li><hr><br>
            <li><a href="http://127.0.0.1:8000/trendsapp/productupload/" class="i">Upload products</a></li><hr><br>
                  <li> <a href="http://127.0.0.1:8000/trendsapp/viewallproducts/" class="i">View all products</a></li><hr><br>
                   <li><a href="http://127.0.0.1:8000/trendsapp/productdisplay/" class="i">View posted products</a></li><hr><br>
                  <li><a href="http://127.0.0.1:8000/trendsapp/shopnotification/" class="i">Notifications</a></li><hr><br>
                     <li><a href="http://127.0.0.1:8000/trendsapp/shoplogout/" class="i">Logout</a></li><br>
                  </ul>
        </div>
      </div>
{% if messages %}
    <div class="alert alert-danger">

     {% for message in messages %}
        {{message}}
    {% endfor %}

    </div>
{% endif %}
    <div  id="b" class="bg-white shadow">
    <div class="mb-3">
        <h3 align="center"><strong>
           Upload product
        </strong> </h3><br>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <label class="form-label text-secondary">Product name</label><br>
        <input type="text" class="form-control" name="productname">
      </div>
      <div class="mb-3">
        <label class="form-label text-secondary">Product price</label>
        <input type="number" class="form-control" name="productprice">
      </div>
          <div class="mb-3">
        <label class="form-label text-secondary">Type</label><br>
        &nbsp;&nbsp;&nbsp;<input type="radio" value="Women" name="producttype">&nbsp;<label class="form-label text-secondary">Women</label><br>
         &nbsp;&nbsp;&nbsp;<input type="radio" value="Men" name="producttype">&nbsp;<label class="form-label text-secondary">Men</label>
      </div>
         <div class="mb-3">
        <label class="form-label text-secondary">Category</label><br>
             <select class="form-control" name="category">
  <option>--Select category--</option>
  <option value="Womenclothing">Women clothing</option>
  <option value="Womenwatches">Women watches</option>
  <option value="Womenshoes">Women shoes</option>
  <option value="Womenbags">Women bags</option>
  <option value="Menclothing">Men clothing</option>
  <option value="Menwatches">Men watches</option>
  <option value="Menshoes">Men shoes</option>
  <option value="Menbags">Men bags</option>
</select>
      </div>
 <div class="mb-3">
        <label class="form-label text-secondary">Description</label>
        <input type="text" class="form-control" name="description">
      </div>
      <div class="mb-3">
        <label class="form-label text-secondary">Product image</label>
        <input type="file" class="form-control" name="productimage">
      </div>
       <br><center>
      <div class="mb-3">
        <button type="submit" class="btn" style="background-color:rgb(110, 105, 105);color:white">Upload</button>
      </div>
    </center>
       </form>
    </div>
</div>
</body>
</html>